<div *ngIf="selectedProduct">
  <mat-card>
    <mat-card-header>
      <div class="productName">
        <p>{{selectedProduct.name}}</p>
      </div>

      <div class="price">
        <p>{{selectedProduct.price}}€</p>
      </div>

    </mat-card-header>

    <mat-card-content>
      <div class="productInfos">
<!--    <p class="usdPrice"> USD Price: {{selectedProduct.priceUSD}}$</p> -->
        <p>Description: {{selectedProduct.description}}</p>
        <p>Location: {{selectedProduct.location}}</p>
        <p>Amount: {{selectedProduct.amount}}</p>
        <p>Delivery Time: {{selectedProduct.deliveryTime}}</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>


