  <mat-card>
    <mat-card-header>
      <div class="productName">
        <p>{{productDetail.name}}</p>
      </div>

      <div class="price">
        <p>{{productDetail.price}}€</p>
      </div>

    </mat-card-header>

    <mat-card-content>
      <div class="productInfos">
        <p class="usdPrice"> USD Price: {{productDetail.usdPrice}}$</p>
        <p>Description: {{productDetail.description}}</p>
        <p>Location: {{productDetail.location}}</p>
        <p>Amount: {{productDetail.amount}}</p>
        <p>Delivery Time: {{productDetail.deliveryTime}}</p>
      </div>
    </mat-card-content>
  </mat-card>

