
<div *ngFor="let product of productList" class="products" >

      <mat-card (click)="onSelectProduct(product)" >
        <mat-card-header>
          <div class="productName">
            <p>{{product.name}}</p>
          </div>

          <div class="price">
            <p>{{product.price}}€</p>
          </div>

        </mat-card-header>

        <mat-card-content>
          <div class="productInfos">
            <p class="usdPrice">{{product.usdPrice}}$</p>
            <p>{{product.description}}</p>
          </div>
        </mat-card-content>
      </mat-card>

</div>

